/* CSS stylesheet for page about.html */
body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}
#page-logo a {
  color: rgba(255, 255, 255, 0.895);
}
header nav a {
  color: rgba(255, 255, 255, 0.895);
}
header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgba(255, 255, 255, 0.895);
}
/* For displaying data in the card used flexbox */
.card {
  display: flex;
  flex-direction: row;
  width: 60rem;
  margin: 10rem auto;
  background-color: rgba(255, 255, 255, 0.895);
  border-radius: 8px;
  overflow: hidden;
}
.card img {
  width: 15rem;
}
.card p {
  text-align: justify;
  font-size: larger;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  padding: 2rem;
}
